# Ignore everything unless otherwise specified
*

# Concrete files and folders
!CMakeLists.txt
!.clang-format
!.gitignore
!README.md
!LICENSE
!examples

# Wildcards
!**/*.cpp
!**/*.hpp
!**/*.c
!**/*.h
!**/*.py
