# Ignore everything unless otherwise specified
*

# Concrete files and folders
!CMakeLists.txt
!.clang-format
!.gitignore
!README.md
!LICENSE
!allocators
!examples
!layers
!mocks

# Wildcards
!**/*.cpp
!**/*.hpp
!**/*.c
!**/*.h
!**/*.py
